/* importing fonts from Google Font API */
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,700');

html {
    background: #0b0c10;
    min-width: 1280px;
    min-height: 720px;
    overflow: auto;

    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    color: #BCC6CC;
    letter-spacing: 0.05em;
}

body {
    padding: 20px;
}

h1{

    font-family: "Major Mono Display", sans-serif;
    font-size: 1.5em;

    color: #BCC6CC;
    letter-spacing: normal;
    text-transform: lowercase;

    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;

}

h2 {
    font-family: "Major Mono Display", sans-serif;
    font-size: 1.5em;
    color: #BCC6CC;
    letter-spacing: normal;
    text-transform: lowercase;
    text-align: center;
}

/* styling an element through its ID */
div#div_page_desc {
    margin: 10px;
}
div#div_data_desc {
    background: #1f2833;
    box-sizing: border-box;
    padding: 10px 20px;
    color: white;
}
div#div_visuals {
    background: #1f2833;
    background-clip: content-box;
    width: 100%;
    height: 100%;
    min-height: 700px;
    box-sizing: border-box;
    padding: 10px;
}
div#div_buttons {
    text-align:center;
}
button {
    position:relative;
    top:50%;
    left:40%;
    font-family: "Major Mono Display", sans-serif;
    font-size: 1.5em;
    color: #BCC6CC;
    letter-spacing: normal;
    text-transform: lowercase;
    text-align: center;
    border: none;
    height: 30px;
    alignment: center;
    background: #1f2833;
}
button:hover {
    background: white;
    color: black;
    cursor: pointer;
}
button:focus {
    outline: 0;
}
#vis {
    background: #1f2833;
    display: block;
    width: 90%;
    height: 100%;
    min-width: 800px;
    min-height: 500px;
    margin: auto;
}
.domain,
.tick,
.tick path,
.tick line {
    fill: none;
    stroke: #BCC6CC;
    shape-rendering: crispEdges;
}
.domain text,
.tick,
.tick text {
    font-family: "Sarabun", sans-serif;
    font-size: 1em;
}
.map{
    background: #BCC6CC;
}
svg{
    background: #BCC6CC;
}
body {
    margin: 0px;
    overflow: hidden;
}
.sphere {
    fill: #1f2833;
}
.country {
    fill: #BCC6CC;
    fill-opacity: 0.8;
    stroke: antiquewhite;
    stroke-opacity: 0.2;
}
.country:hover {
    fill: #333d43;
    fill-opacity: 0.75;
    stroke:none;
}
.country-circle {
    pointer-events: none;
}
.legend-circle:hover {
    fill-opacity: 1;
}
.legend-text:hover{
    fill: white;
}
#sliderContainer {
    font-family: "Major Mono Display", sans-serif;
    color: #BCC6CC;
    position: relative;
    text-align:center;
    padding-top: 10px;
    bottom: 10px;
    background: #1f2833;
}
input[type=range] {
    height: 18px;
    -webkit-appearance: none;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.5s;
    box-shadow: 0px 0px 0px #BCC6CC;
    background: #1f2833;
    border-radius: 20px;
    border: 1px #1f2833;
    stroke-opacity: 0.9;
}
input[type=range]::-webkit-slider-thumb {
    /*box-shadow: 1px 1px 1px #202020;*/
    border: 0px solid #1f2833;
    height: 24px;
    width: 30px;
    border-radius: 20px;
    background: #BCC6CC;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    /*background: darkgrey;*/
    background: #181e27;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #BCC6CC;
    background: #1f2833;
    border-radius: 25px;
    border: 0px solid #1f2833;
    stroke-opacity: 0.9;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #202020;
    border: 0px solid #1f2833;
    height: 24px;
    width: 35px;
    border-radius: 20px;
    background: #1f2833;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.1s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #BCC6CC;
    border: 0px solid #BCC6CC;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #BCC6CC;
    border: 0px solid #1f2833;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    /*box-shadow: 1px 1px 1px #202020;*/
    border: 0px solid #1f2833;
    height: 24px;
    width: 35px;
    border-radius: 60px;
    background: #BCC6CC;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #BCC6CC;
}
input[type=range]:focus::-ms-fill-upper {
    background: #BCC6CC;
}
.legend-title{
    color: #BCC6CC;
    stroke: #BCC6CC;
}
